@charset "UTF-8";
/* CSS Document */

.button-custom-lg {
	Width:250px;
	border-radius:10px;
	font-size:20px;
	font-family:Roboto;
	font-weight: 600;
	margin-top:-300px;
}

.Email {
font-size:16px; 
	font-family:Roboto;
	width:240px;
	text-align: left;
}


.box {
	margin-top:-125px;
	
}


.btn-sm {
	font-family:Roboto;
	font-weight: 600;
	background-color:#FF7F43;
	color:#FFFFFF;
	margin:10px;
		font-size:15px; 
	
}


